<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ASC e-commerce{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('homePageJs') }}
        {% endblock %}

    </head>
    <body>

        <div class="mainContainer">
        <a name="topAnchor"></a>
            <div class="containerLeftSide" id="1"> 
                <a href="#topAnchor" class="menuSideBar">ASC e-Commerce</a>
                <div class="menuSideBar">
                    <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                {% for categories in categories %}
                    <a href="#{{ categories.name }}" class="menuSideBar"> > {{ categories.name }} </a>
                {% endfor %}
                
            </div>
            <button id="myBurgerBtn" class="burgerButton"> ↕ </button>
                <button id="myBtn" title="Go to top" class="boutonHautDePage"> ↑ </button>
                <div class="boutonLogo">
                    <div class="titre"> ASC e-Commerce</div>
                </div>
            <div class="containerCentral">
            <div class="coinPromos">
                    <div class="containerPromo1">
                        <div class="promo1">
                            <div class="containerImagePromo">   Promo !
                            <br>
                            {# Profitez de {{ deals[3].getDiscountPercentage()}} % de réduction sur les produits "{{categories[0].name}}" avec le code : {{deals[3].getCode()}} #}
                            </div>
                           
                        </div>
                    </div>
                        <div class="containerPromo2">
                            <div class="promo2">
                                <div class="containerImagePromo">   Promo !</div>
                            
                            </div>
                            <div class="promo3">
                                <div class="containerImagePromo">   Promo !</div>
                            
                            </div>
                        </div>
                </div> 
                
                <div class="carouselContainer">
                    <div class="carousel">
                    <button class="sliderLeftButton" id="leftArrow">←</button>
                        {% for categories in categories %}
                         <a class="carouselSlide" id="slideId{{categories.id}}" href="">{{categories.name}}</a>
                        {% endfor %}
                    <button class="sliderRightButton" id="rightArrow">→</button>
                    </div>
                    <div class="carouselDotsContainer">
                        {% for categories in categories %}
                        <button class="carouselDots" id="slideDot{{categories.id}}"></button>
                        {% endfor %}
                    </div>

                </div>

                <div class="containerPreviews">
                    {% for categories in categories %}
                        <a href="{{ path('category', {'id': categories.id}) }}" name="{{categories.name}}" style="text-decoration:none">
                            <div class="preview">
                                <div class="surtexte"> {{ categories.name }} </div>
                                <div class="vignette">
                                    <img class="" src="{{ asset('build/images/lap1.jpg') }}">
                                </div>
                            </div>
                        </a>
                        <div class="espace"></div>
                    {% endfor %}
                    
            <div class="footer">
                <a href="https://fr-fr.facebook.com/" class="instagram">Facebook</a>
                <a href="https://twitter.com/" class="instagram">Twitter</a>
                <a href="https://www.instagram.com/?hl=fr" class="instagram">Instagram</a>
                <a href="mailto:lateamdespeignezizi@onlineformapro.com" class="instagram">Contact</a>
            </div>  
                </div>
            
            </div>
            <div class="containerRightSide">
                <button class="boutonEspaceClient" id="boutonEspaceClient">Espace client</button>
                <div class="connexionContainer" id="connexionContainer">
                        {% if app.user %}
	                        {# <li><a href="{{ path('profile') }}" class="text-white">Mon profil</a></li> #}
	                        <div class="connexionStyle"><a href="{{ path('security_logout') }}" class="text-white">Déconnexion</a></div>
                        {% else %}
	                        <div class="connexionStyle"><a href="{{ path('register') }}" class="text-white">Inscription</a></div>
	                        <div class="connexionStyle"><a href="{{ path('security_login') }}" class="text-white">Connexion</a></div>
                            <button class="connexionButton" id="connexionButton">X</button>
                        {% endif %}
                </div>
                <a href="{{ path('cart') }}" class="boutonPanier">Panier</a>
                
                <a id="frenchButton" title="Changer de langue" class="frenchButton" href="{{ path('home') }}"></a>
                <a id="englishButton" title="Change language" class="englishButton" href="{{ path('en_home_page') }}"></a>

                <a class="boutonMentionsLegales" href="{{path('legal')}}">Mentions légales</a>
            </div>      
      </div>
    </body>

</html>