<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ASC e-commerce{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('homePageJs') }}
        {% endblock %}

    </head>
    <body>


        <div class="mainContainer">
        <a name="topAnchor"></a>
            <div class="containerLeftSide"> 
                <a href="#topAnchor" class="menuSideBar">ASC e-Commerce</a>
                <div class="menuSideBar">
                    <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                {% for categories in categories %}
                    <a href="#{{ categories.name }}" class="menuSideBar"> > {{ categories.name }} </a>
                {% endfor %}
                
            </div>
                <button id="myBtn" title="Go to top" class="boutonHautDePage"> ↑ </button>
                <div class="boutonLogo">
                    <div class="titre"> ASC e-Commerce</div>
                </div>
            <div class="containerCentral">
                <div class="coinPromos">
                        <div class="containerPromo1">
                            <div class="promo1">
                                <div class="containerImagePromo">   Promo !
                                <br>
                                {# Profitez de {{ deals[3].getDiscountPercentage()}} % de réduction sur les produits "{{categories[0].name}}" avec le code : {{deals[3].getCode()}} #}
                                </div>
                            
                            </div>
                        </div>
                        <div class="containerPromo2">
                            <div class="promo2">
                                <div class="containerImagePromo">   Promo !</div>
                            
                            </div>
                            <div class="promo3">
                                <div class="containerImagePromo">   Promo !</div>
                            
                            </div>
                        </div>
                    </div> 
                    
                    <div class="carouselContainer">
                        <a class="prevCarousel" onclick="plusSlides(-1)">&#10094;</a>
                                {% for categories in categories %}
                                    <div class="mySlides fade">
                                        <div class="numbertext">{{categories.id}} / 3</div>
                                        {# <img src="{{}}" class="imageCarousel"> #}
                                        <div class="textImageCarousel">{{categories.name}}</div>
                                    </div>

                                {% endfor %}
                            <a class="nextCarousel" onclick="plusSlides(1)">&#10095;</a>
                        </div>

                    <div class="containerPreviews">
                        {% for categories in categories %}
                            <a href="{{ path('category', {'id': categories.id}) }}" name="{{categories.name}}" style="text-decoration:none">
                                <div class="preview">
                                    <div class="surtexte"> {{ categories.name }} </div>
                                </div>
                            </a>
                            <div class="espace"></div>
                        {% endfor %}
                    </div>
                </div>
                
                </div>
                <div class="containerRightSide">
                    <button class="boutonEspaceClient">Espace client</button>
                    <a href="{{ path('cart') }}" class="boutonPanier">Panier</a>
                    
                    <button id="frenchButton" title="Changer de langue" class="frenchButton"></button>
                    <button id="englishButton" title="Changer de langue" class="englishButton"></button>
                    
                    <button class="boutonMentionsLegales">Mentions légales</button>
                </div>        
                
        
        </div>

    </body>

  </body>
</html>


    {# {% for category in categories %}
        <a href="{{ path('category', {'id': category.id}) }}"> {{ category.name }}</a>
    {% endfor %} #}

