{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %}

    <div class="container-fluid p-5">

        <h1>{{ category.name }}</1>

        <div class="row mt-3">
            <div class="card col-md-2 d-none d-md-block p-3">
                <div class="containerPreviews">
                    {% for categories in categories %}
                        <h6 class="pt-3"><a href="{{ path('category', {'id': categories.id}) }}" style="text-decoration:none; color:black; font-weight:bold"> {{ categories.name }} </a></h6>
                    {% endfor %}
                </div>
            </div>
            <div class="card col-md-10">
                <div class="row">
                    {% for product in products %}
                        <div class="card col-lg-4 col-md-6 p-3">
                            <a href="{{ path('product', {'id': product.id}) }}" style="text-decoration:none">
                                <img class="w-100" src="{{ asset('build/images/' ~ product.image) }}" alt="{{ product.name }}">
                            </a>
                            <div class="py-3">
                                <h5 class="card-title"><a href="{{ path('product', {'id': product.id}) }}" style="text-decoration:none" class="text-dark">{{ product.name }}</a></h5>
                                <h6><a href="{{ path('product', {'id': product.id}) }}" style="text-decoration:none" class="text-dark">{{ product.description|striptags|slice(0, 70)|raw }}...</a></h6>
                                <h6 class="text-danger pt-3">{{ product.getPriceAllTaxesIncluded() }} €</h6>
                            </div>
                            {# <h6>Le prix avec taxe : {{ product.getPriceWithoutTaxes() }} €</h6>
                            {% if product.getIsAvailable() %}
                                <h6>Disponible</h6> 
                            {% else %}
                                <h6>Indisponible</h6> 
                            {% endif %} #}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
