<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Register {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {# {{ encore_entry_script_tags('categories') }} #}
        {% endblock %}

</head>

<body>
  


    <h1>Register</h1>

        <a class="returnButton" href="{{ path('home') }}">RETOUR</a>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}


</body>