<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ASC e-commerce{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('homePageJs') }}
        {% endblock %}

    </head>
    <body>

        <div class="mainContainer">
        <a name="topAnchor"></a>
            <div class="containerLeftSide" id="1"> 
                <a href="#topAnchor" class="menuSideBar">ASC e-Commerce</a>
                <div class="menuSideBar">
                    <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                {% for categories in categories %}
                    <a href="#{{ categories.name }}" class="menuSideBar"> > {{ categories.name }} </a>
                {% endfor %}
                
            </div>
            <button id="myBurgerBtn" class="burgerButton"> ↕ </button>
                <button id="myBtn" title="Go to top" class="boutonHautDePage"> ↑ </button>
                <div class="boutonLogo">
                    <div class="titre"> ASC e-Commerce</div>
                </div>
            <div class="containerCentral">
            <div class="coinPromos">
                    <div class="containerPromo1">
                        <div class="promo1">
                            <div class="containerImagePromo">  Sale !
                            <br>
                            {# Get {{ deals[3].getDiscountPercentage()}} % off on "{{categories[0].name}}" products with the code : {{deals[3].getCode()}} #}
                            </div>
                           
                        </div>
                    </div>
                        <div class="containerPromo2">
                            <div class="promo2">
                                <div class="containerImagePromo">  Sale !</div>
                            
                            </div>
                            <div class="promo3">
                                <div class="containerImagePromo">  Sale !</div>
                            
                            </div>
                        </div>
                </div> 
                
                <div class="carouselContainer">


                </div>

                <div class="containerPreviews">
                    {% for categories in categories %}
                        <a href="{{ path('category', {'id': categories.id}) }}" name="{{categories.name}}" style="text-decoration:none">
                            <div class="preview">
                                <div class="surtexte"> {{ categories.name }} </div>
                            </div>
                        </a>
                        <div class="espace"></div>
                    {% endfor %}
                    
            <div class="footer">
                <a href="https://fr-fr.facebook.com/" class="instagram">Facebook</a>
                <a href="https://twitter.com/" class="instagram">Twitter</a>
                <a href="https://www.instagram.com/?hl=fr" class="instagram">Instagram</a>
                <a href="https://www.instagram.com/?hl=fr" class="instagram">Contact</a>
                {# <button class="lienRS"><a class="instagram"></a></button> #}
            </div>  
                </div>
            
            </div>
            <div class="containerRightSide">
                <button class="boutonEspaceClient">Customer's area</button>
                <a href="{{ path('en_cart') }}" class="boutonPanier">Cart</a>
                
                <a id="frenchButton" title="Changer de langue" class="frenchButton" href="{{ path('home') }}"></a>
                <a id="englishButton" title="Change languahe" class="englishButton" href="{{ path('en_home_page') }}"></a>

                <button class="boutonMentionsLegales">legal references</button>
            </div>      
      </div>
    </body>

</html>